@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300&display=swap');

body{
    display:flex;
    flex-direction: column;
    margin:0;
    font-family:Roboto, sans-serif;
    background-image: url(./images/mountain.jpeg);
}

.header{
    color:white;
    display:flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding:12px 150px 50px 150px;
}
.logo{
    font-size:28px;
    font-weight: bold;
    color:#F9FAF8;
}

.subheader{
    color:white;
    display:flex;
    justify-content: space-between;
    background-color:#1f2937b9;
    padding:12px 150px 80px 150px;
}
.bigtext{
    font-size: 48px;
    font-weight:900;
    padding-right:50px;
}
.paragraph{
    font-size:18px;
    color: #a7a8ac;
    padding: 12px 50px 12px 0px
}
a{
    padding:10px;
    text-decoration: none;
    color:#E5E7EB
}
.bigimage{
    flex:none;
    width:400px;
    height:266.72px;
    /* border-width: 8px;
    border-color:rgb(68, 57, 224);
    border-style: solid;
    border-radius: 44px/62px;
    box-shadow: 0 0 15px 4px white;
    outline: 8px solid rgb(68, 57, 224);
    outline-offset: -15px; */
}
img{
    border-width: 8px;
    border-color:rgba(73, 72, 72, 0.543);
    border-style:solid;
    border-radius:8px;
    box-shadow: 0 0 20px 4px rgb(73, 72, 72);
}
.mid-body{
    padding:30px 150px 80px 150px;
}
.body-head{
    display:flex;
    justify-content: center;
    font-size:36px;
    font-weight:900;
    
}
.body-head-text{
    background-color:#3882F6da;
    border-width: 8px;
    border-color:#3881f6da;
    border-style: transparent;
    border-radius: 8px;
    padding:8px;
}
.sub-body{
    display:flex;
    justify-content: center;
    align-items: center;
}
.card{
    align-items: center;
    text-align: center;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    gap:12px;
    margin:20px;
}
.card-text{
    background-color:#3882F6da;
    border-width: 8px;
    /* border-color:#3881f6da; */
    border-style: transparent;
    border-radius: 8px;
    padding:4px;
}

.quote{
    padding:80px 150px 80px 150px;
    background-color: #a7a8acc7;
    color:#1F2937;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.quote-text{
    font-size: 30px;
    font-weight:300;
    font-style:italic;
}
.signature{
    align-self: flex-end;
    font-size: 22px;
    font-weight: 900;
}
.signup{
    display:flex;
    justify-content: center;
    padding:50px;
}
.bigbutton{
    color:#F9FAF8;
    display:flex;
    align-items: center;
    background-color: #3882F6;
    border-bottom: 40px;
    border-top: 40px;
    border-left:100px;
    border-right: 100px;
    border-color: #3882F6;
    border-style: solid;
    border-radius:10px;
    gap:20px;
    flex:0 1 none;
}
.call{
    font-size:18px;
    font-weight: bold;
}
.callsub{
    color:#E5E7EB;
    font-size:14px;
}
.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color:#E5E7EB;
    padding:30px;
}
.topsignup, .botsignup{
    background-color: #3882F6;
    color:#E5E7EB;
    padding: 6px 20px 6px 20px;
    border-radius: 8px;
    width:95.91px;
    height:30px;
}
.topsignup{
    border-style: none;
}
.botsignup{
    border-style:solid;
    border-color:#E5E7EB;
}
.botsignup:hover{
    background-color:#06060837;
}
.topsignup:hover{
    background-color: #7878ffa6;
}